@import "null.css";

@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.wrapper {
	overflow: hidden;
}
body {
	font-family: "Circular Std", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #5f5f5f;
}
.main {
	max-width: 1025px;
	margin: 0 auto;
	padding: 140px 0;
}
.title {
	font-size: 65px;
	font-weight: 500;
	line-height: 1.26;
	color: #313131;
	text-align: center;
	margin: 0px 0px 20px 0px;
}
.subtitle {
	max-width: 750px;
	font-size: 20px;
	line-height: 1.26;
	text-align: center;
	margin: 0 auto 224px;
}
.service-title {
	font-size: 34px;
	font-weight: 700;
	line-height: 1.3;
	margin: 0px 0px 20px 0px;
	color: #313131;
}
.description {
	max-width: 508px;
	margin: 0px 0px 125px 0px;
}
.bold {
	font-weight: 700;
	line-height: 1.3;
	color: #313131;
	margin: 0px 0px 5px 0px;
}
.gray {
	line-height: 1.27;
	color: #b8b8b8;
	margin: 0px 0px 67px 0px;
}
